* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #deceb8;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.swiper {
  width: 65vw;
  _height: 300px;
}

.swiper-slide img {
  width: 100%;
}

.navigators {
  width: 80vw;
  position: absolute;
}

.navigators .nav-btn {
  color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background: #fff;
}
